.cell--text {
  @extend %children-margin;
}

// Medium devices (tablets, 768px and up)
@include media-breakpoint-up(md) {
  .cell--text {
    + .cell--text {
      flex: 1 0 50%;
      max-width: 50%;
      min-width: 50%;

      &::before {
        background-color: currentColor;
        content: "";
        height: calc(90% - 30px);
        left: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 1px;
      }
    }
  }
}
