<nav class="breadcrumb container" itemprop="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
  <ol class="breadcrumb__list">
    {{ nav:breadcrumbs }}
    <li class="breadcrumb__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      {{ if is_current }}
        <span class="breadcrumb__current" itemprop="item">
          <span itemprop="name">{{ title }}</span>
          <meta itemprop="position" content="{{ index }}" />
        </span>
      {{ else }}
        <a class="breadcrumb__link" href="{{ url }}" itemprop="item">
          <span itemprop="name">{{ title }}</span>
          <meta itemprop="position" content="{{ index }}" />
        </a>
      {{ /if }}

    </li>
    {{ /nav:breadcrumbs }}
  </ol>
</nav>
