<section class="hero
  {{ relate:hero-theme }}
    {{ if random or slug == "random" }}
      {{ collection:themes
        slug:not="random"
        slug:not="grey-light"
        slug:not="pink"
        slug:not="red"
        slug:not="white"
        sort="random"
        limit="1" }}theme theme--{{ slug }}{{ /collection:themes }}
    {{ else }}
      theme theme--{{ slug }}
    {{ /if }}
  {{ /relate:hero-theme }}
  {{ if modifier }}hero--{{ modifier }}{{ /if }}">

  {{ asset:hero-image }}
    <div class="hero__bg" style="background-image: url({{ glide:hero-image width="1920" blur="30" }});"></div>
  {{ /asset:hero-image }}

  <div class="container">
    {{ if hero-tagline }}
      <em class="hero__tagline">{{ hero-tagline }}</em>
    {{ /if }}

    {{ if hero-title or title}}
      <h1 class="hero__title">{{ hero-title or title }}</h1>
    {{ /if }}

    {{ if hero-subtitle }}
      <div class="hero__subtitle">{{ hero-subtitle }}</div>
    {{ /if }}

    {{ if author }}
      <div class="hero__author">
        {{ relate:author }}
          {{ first_name }} {{ last_name }}
          <span class="sr-only" itemscope itemtype="http://schema.org/Person">{{ partial:metas/person }}</span>
        {{ /relate:author }}
      </div>
    {{ /if }}
  </div>

  {{ if segment_1 }}
    <div class="hero__breadcrumb">
      {{ partial:components/breadcrumb }}
    </div>
  {{ /if }}

</section>
