<section
  {{ if section-anchor }}id="{{ section-anchor }}"{{ /if }}
  class="section
         {{ if section-theme }} theme theme--{{ relate:section-theme }}{{ slug }}{{ /relate:section-theme }}{{ /if }}
         {{ if section-anchor }} js-anchor{{ /if }}"
  {{ if section-title }}data-name="{{ section-title }}"{{ /if }}>

  <div class="{{ section-container }}">
  {{ if section-title }}
    <h2 class="section__title">
      {{ if section-anchor }}
      <a href="#{{ section-anchor }}" class="section__anchor js-scroll-to" aria-hidden="true">
      <svg viewBox="0 0 16 16" width="16" height="16" aria-hidden="true">
        <path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path>
      </svg>
      </a>
      {{ /if }}
      {{ section-title }}
    </h2>
  {{ /if }}

  {{ if section-super }}
    <em class="section__super">{{ section-super }}</em>
  {{ /if }}

  {{ if section-introduction }}
    <div class="section__introduction">{{ section-introduction | markdown }}</div>
  {{ /if }}

  {{ if cells }}
    <div class="section__cells">
      {{ cells limit="2" }}
      {{ partial src="cells/{type}" }}
      {{ /cells }}
    </div>
  {{ /if }}

  {{ if section-legend }}
  <div class="section__legend">{{ section-legend }}</div>
  {{ /if }}
  </div>
</section>
