<article class="side-by-side side-by-side--media-portrait side-by-side--media-{{ side_by_side_media_size }} {{ if tags }}side-by-side--w-aside{{ /if }}">
    {{ if side_by_side_media_background_color }}
        <span class="side-by-side__bg" style="background-color: {{ side_by_side_media_background_color }};"></span>
    {{ /if }}
    
    <div class="side-by-side__container">
        {{ if tags }}
            <aside class="side-by-side__aside">
                <strong class="side-by-side__type">{{ yield:side_by_side_aside_title }}</strong><br>
                
                {{ tags }}
                    <a href="{{ url }}" class="side-by-side__tag">{{ title }}</a>
                {{ /tags }}
            </aside>
        {{ /if }}
        
        <div class="side-by-side__wrapper">
            <div class="side-by-side__text">
                <h2 class="side-by-side__title" itemprop="name">{{ title | markdown }}</h2>
                <div class="side-by-side__text__wrapper" itemprop="description">{{ yield:side_by_side_text }}</div>
                {{ yield:side_by_side_metas }}
            </div>
            <figure class="side-by-side__media" {{ if side_by_side_media_background_color || side_by_side_media_text_color }} style="background-color: {{ side_by_side_media_background_color }}; color: {{ side_by_side_media_text_color }};"{{ /if }}>
                {{ if side_by_side_media_frame == 'mobile' }}
                    {{ partial src="components/frame-mobile" }}
                {{ elseif side_by_side_media_frame == 'desktop' }}
                    {{ partial src="components/frame-desktop" }}
                {{ else }}
                    {{ yield:side_by_side_media }}
                {{ /if }}
            </figure>
        </div>
    </div>
</article>