<article class="post side-by-side side-by-side--media-portrait side-by-side--media-{{ post_featured_media_size }}">
    <div class="side-by-side__container">
        {{ yield:post_featured_aside }}

        {{ if post_featured_media_background_color && post_featured_media_gradient_color }}
          <span class="side-by-side__bg side-by-side__bg--media" style="background: linear-gradient(to bottom, {{ post_featured_media_background_color }} 0%,{{ post_featured_media_gradient_color }} 100%);"></span>
        {{ elseif post_featured_media_background_color }}
          <span class="side-by-side__bg side-by-side__bg--media" style="background-color: {{ post_featured_media_background_color }};"></span>
        {{ /if }}

        {{ if post_featured_text_background_color && post_featured_text_gradient_color }}
          <span class="side-by-side__bg side-by-side__bg--text" style="background: linear-gradient(to bottom, {{ post_featured_text_background_color }} 0%,{{ post_featured_text_gradient_color }} 100%);"></span>
        {{ elseif post_featured_text_background_color }}
          <span class="side-by-side__bg side-by-side__bg--text" style="background-color: {{ post_featured_text_background_color }};"></span>
        {{ /if }}

        <div class="side-by-side__wrapper">
            <div class="side-by-side__text" {{ if post_featured_text_text_color }}style="color: {{ post_featured_text_text_color }};"{{ /if }}>
                <h2 class="side-by-side__title" itemprop="name">{{ title | markdown }}</h2>
                <div class="side-by-side__text__wrapper" itemprop="description">{{ post_description | markdown }}</div>
                {{ yield:post_metas }}
            </div>
            <figure class="side-by-side__media" {{ if post_featured_media_text_color }} style="color: {{ post_featured_media_text_color }};"{{ /if }}>
                {{ if post_featured_media_frame == 'mobile' }}
                  {{ partial src="media-frames/frame-mobile" }}
                {{ elseif post_featured_media_frame == 'tablet-landscape' }}
                  {{ partial src="media-frames/frame-tablet-landscape" }}
                {{ elseif post_featured_media_frame == 'desktop' }}
                  {{ partial src="media-frames/frame-desktop" }}
                {{ else }}
                  {{ yield:post_featured_media }}
                {{ /if }}
            </figure>
        </div>
    </div>
</article>
