<article class="side-by-side side-by-side--media-landscape side-by-side--media-{{ post_featured_media_size }}">
    <div class="side-by-side__container">
        {{ yield:post_featured_aside }}

        {{ if post_featured_media_background_color }}
            <span class="side-by-side__bg" style="background-color: {{ post_featured_media_background_color }};"></span>
        {{ /if }}

        <div class="side-by-side__wrapper">
            <h2 class="side-by-side__title" itemprop="name">{{ title | markdown }}</h2>
            <div class="side-by-side__text">
                <div class="side-by-side__text__wrapper" itemprop="description">{{ yield:post_featured_text }}</div>
            </div>
            <figure class="side-by-side__media" {{ if post_featured_media_background_color || post_featured_media_text_color }} style="background-color: {{ post_featured_media_background_color }}; color: {{ post_featured_media_text_color }};"{{ /if }}>
                {{ if post_featured_media_frame == 'mobile' }}
                    {{ partial src="components/frame-mobile" }}
                {{ elseif post_featured_media_frame == 'desktop' }}
                    {{ partial src="components/frame-desktop" }}
                {{ else }}
                    {{ yield:post_featured_media }}
                {{ /if }}

                {{ yield:post_featured_metas }}
            </figure>
        </div>
    </div>
</article>