<section class="tpl{{ if tpl-display != 'normal' }} tpl--{{ tpl-display }}{{ /if }}" itemscope itemtype="http://schema.org/ImageObject">
  {{ if tpl-background_color }}
    <span class="tpl__bg" style="background-color: {{ tpl-background_color }};"></span>
  {{ /if }}

  <div class="tpl__container">
    <div class="tpl__main">
      <h2 class="tpl__title" itemprop="name">{{title}}</h2>
      <meta itemprop="author" content="Simon Arnold">
      <div class="tpl__description" itemprop="description">{{ tpl-description| markdown }}</div>
      <figure class="tpl__figure"{{ if tpl-background_color || tpl-text_color }} style="background-color: {{ tpl-background_color }}; color: {{ tpl-text_color }};"{{ /if }}>
          {{ assets:tpl-image }}
            <picture class="tpl__picture">
              <source srcset="{{ glide:url width='580' }}" media="(max-width: 320px) and (min-resolution: 2dppx)">
              <source srcset="{{ glide:url width='690' }}" media="(max-width: 375px) and (min-resolution: 2dppx)">
              <source srcset="{{ glide:url width='1000' }}" media="(max-width: 500px) and (min-resolution: 2dppx)">
              <source srcset="{{ glide:url width='1380' }}" media="(min-resolution: 2dppx)">
              <source srcset="{{ glide:url width='768' }}">
              <img src="{{ glide:url width='768' }}" alt="{{ alt }}" itemprop="contentUrl" />
            </picture>
          {{ /assets:tpl-image }}

          <figcaption class="tpl__metas">
            {{ if tpl-subject }}
              {{ relate:tpl-place }}
                <em class="tpl__place">{{ title }}</em>
              {{ /relate:tpl-place }}<br>
              <strong class="tpl__subject">
              {{ relate:tpl-subject }}{{ title }}{{ if !last }}, {{ /if}}{{ /relate:tpl-subject }}
              </strong><br>
            {{ else }}
              {{ relate:tpl-place }}
                <em class="tpl__city">{{ address_locality }}{{ if address_country != 'Canada' }}, {{ address_country }}{{ /if }}</em><br>
                <strong class="tpl__place">{{ title }}</strong><br>
              {{ /relate:tpl-place }}
            {{ /if }}

            <time datetime="{{ tpl-date }}" class="tpl__date" itemprop="dateCreated">{{ tpl-date }}</time>

            {{ relate:tpl-place }}
              <span itemprop="contentLocation" itemscope itemtype="http://schema.org/Place">
                <meta itemprop="name" content="{{ title }}">
                <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                  {{ if street_address }}<meta itemprop="streetAddress" content="{{ street_address }}">{{ /if }}
                  {{ if address_locality }}<meta itemprop="addressLocality" content="{{ address_locality }}">{{ /if }}
                  {{ if address_region }}<meta itemprop="addressRegion" content="{{ address_region }}">{{ /if }}
                  {{ if address_country }}<meta itemprop="addressCountry" content="{{ address_country }}">{{ /if }}
                </span>
              </span>
            {{ /relate:tpl-place }}
          </figcaption>
        </picture>
      </figure>
    </div>

    <aside class="tpl__aside">
      <strong class="tpl__subject">{{ if tpl-subject }}Portrait{{ else }}Paysage{{ /if }}</strong>
      <br>

      {{ tags }}
      <a href="{{ url }}" class="tpl__tag">{{ title }}</a>
      {{ /tags }}
    </aside>
  </div>
</section>
