.media {
  display: block;
  position: relative;
  width: 100%;
  margin: 0;

  img,
  video,
  iframe {
    display: block;
    position: relative;
    max-width: 100%;
    margin: 0 auto;
  }

  &__element {
    margin: 0 calc(var(--gutter) * -1);
  }

  &__caption {
    display: block;
    width: 100%;
    font-size: 1.4rem;
    opacity: 0.65;
    text-align: center;
    margin: 1.25em 0;

    a { color: inherit; }
  }
}

@media (min-width: 992px) {
  .media {
    &__element { margin: 0; }
  }
}
