%side-by-side {
  position: relative;
  width: 100%;
  //background: url(https://i.imgur.com/H4uA0fG.jpg);
  padding: 3.6rem 0;
}

%side-by-side__bg { display: none; }

%side-by-side__container {
  display: flex;
  position: relative;
  max-width: $containerWidth;
  margin: 0 auto;
}

%side-by-side__main {
  display: flex;
  position: relative;
  flex-wrap: wrap;
}

%side-by-side__title,
%side-by-side__description,
%side-by-side__figure {
  padding: 0 $gutter;
}

%side-by-side__title { @extend %creation-title; }

%side-by-side__description,
%side-by-side__figure {
  flex: 1 1 100%;
  max-width: 100%;
  margin: 0;
}

%side-by-side__description {
  @extend %children-margin;

  padding-top: 3.6rem;
  order: 3;

  %side-by-side__title {
    padding: 0;
  }

  p,
  blockquote {
    margin: 2.4rem 0;
  }

  blockquote { @extend %blockquote; }
}

%side-by-side__figure {
  padding-top: 3.6rem;
  order: 2;

  &[style*="background-color"] {
    padding-top: 0;
    padding-bottom: 3.6rem;
  }
}

%side-by-side__aside {
  display: none;
  font-family: font(sans-serif);
}

@include media-breakpoint-up(lg) {
  %side-by-side {
    padding: 8.6rem 0;

    &:nth-child(even) {
      %side-by-side__bg {
        left: 0;
        right: auto;
      }

      %side-by-side__main { order: 1; }
      %side-by-side__aside { order: 2; }
      %side-by-side__description { order: 3; }
  
      %side-by-side__figure {
        order: 2;
        text-align: left;
      }
    }
  }

  %side-by-side__bg {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    pointer-events: none;
  }

  %side-by-side__aside { order: 1; }

  %side-by-side__main,
  %side-by-side__description {
    order: 2;
  }

  %side-by-side__description,
  %side-by-side__figure {
    padding: 0 40px;
  }

  %side-by-side__description,
  %side-by-side__figure {
    flex: 1 1 50%;
    max-width: 50%;
  }

  %side-by-side__figure {
    order: 3;
    text-align: right;

    &[style*="background-color"] {
      padding-bottom: 0;
    }
  }
}

@include media-breakpoint-up(xl) {
  %side-by-side__bg {
    width: calc(50% + 100px/ 2);
  }

  %side-by-side__aside {
    flex: 1 1 100px;
    min-width: 100px;
    max-width: 100px;
    display: block;
  }

  %side-by-side__description {
    flex: 1 1 calc(50% - 100px);
    max-width: calc(50% - 100px);
  }

  %side-by-side__figure {
    flex: 1 1 calc(50% + 100px);
    max-width: calc(50% + 100px);
  }
}