%tagline {
  display: block;
  font: normal 400 1.2rem font(sans-serif);
  margin: 20px 0;
  text-transform: uppercase;

  + %h1,
  + %h2 {
    margin-top: 0;
  }
}

%h1 {
  font: normal 2.4rem/1.5 font(serif);
  margin: 20px 0;
  position: relative;
}

%h2 {
  font: normal 2rem/1.5 font(serif);
  margin: 20px 0;
  position: relative;
}

%super {
  font: normal 2.8rem/1.2 font(serif);
  margin: 0.75em auto;
  max-width: map-get($grid-breakpoints, lg);
  position: relative;
}

%source {
  font-size: 1.2rem;
  font-weight: 300;
  margin: 0 auto;
  max-width: map-get($grid-breakpoints, md);
  opacity: 0.7;
  padding-top: 20px;
  text-align: center;
}

%creation-title {
  letter-spacing: -2px;
  line-height: 1;
  font-size: 6rem;
  font-weight: 400;
  margin: 0 0 6rem;
}

%blockquote {
  font-family: font(sans-serif);
  line-height: 1.25;
  font-size: 2.4rem;
  font-weight: 500;
}

%small-caps {
  text-transform: uppercase;
  font-weight: 700;
  font-style: normal;
  font-size: 1.2rem;
  letter-spacing: 1px;
}

%tag {
  font-size: 1.4rem;
  text-decoration: none;
  color: currentColor;
}

%href {
  color: currentColor;
  background-image: linear-gradient(
    to bottom,
    transparent 0,
    transparent calc(100% - 8px),
    #fffc00 calc(100% - 7px),
    #fffc00 100%
  );
  text-decoration: none;
  transition: background-image 0.3s linear;

  &:hover {
    background-image: linear-gradient(to bottom, #fffc00 0, #fffc00 100%);
  }
}

@include media-breakpoint-up(sm) {
  %super {
    font-size: calc(2.8rem + 1.75vw);
  }
}

@include media-breakpoint-up(xl) {
  %super {
    font-size: 4rem;
  }
}
