<li class="has-modal" itemscope="" itemtype="http://schema.org/Person">
  <figure v-on:click="showModal($event)">
    <img srcset="{{ glide:image:0 dpr=" 1 " }} 1x, {{ glide:image:0 dpr="2 " }} 2x" alt="{{ title }}" itemprop="image">
    <figcaption>
      <h4 itemprop="name">{{ title }}</h4>
      <meta itemprop="givenName" content="{{ first_name }}">
      <meta itemprop="familyName" content="{{ last_name }}">
      <meta itemprop="gender" content="{{ gender }}">

      {{ if role == "co-founder" }}<span>Co-founder</span>{{ endif }}
      {{ job_title }}
        <span itemprop="jobTitle">{{ value }}</span>
        {{ if index != total_results }} / {{ endif }}
      {{ /job_title }}

      {{ relate:works_for }}
        <span class="sr-only" itemprop="worksFor" itemscope="" itemtype="http://schema.org/Organization">
          {{ partial:metas/organization }}
        </span>
      {{ /relate:works_for }}

      {{ partial:metas/social_medias }}
      {{ if wikipedia }}<meta itemprop="sameAs" content="{{ wikipedia }}">{{ /if }}
      {{ if imdb }}<meta itemprop="sameAs" content="{{ imdb }}">{{ /if }}
      {{ if website }}<meta itemprop="sameAs" content="{{ website }}">{{ /if }}

      <div class="modal-contents no-anim">
        <div class="modal-team no-anim">
            <h5 class="no-anim">{{ title | upper }}</h5>
            {{ job_title }}
              <span>{{ value }}</span>
              {{ if index != total_results }} / {{ endif }}
            {{ /job_title }}
            <div class="no-anim" itemprop="description">{{ description }}</div>
        </div>
      </div>
    </figcaption>
  </figure>
</li>
