{{ if video:url }}
    <div itemprop="video" itemscope itemtype="http://schema.org/VideoObject">
        {{ if video:url }}<meta itemprop="url" content="{{ video:url }}" />{{ endif }}
        {{ if video:title }}<meta itemprop="name" content="{{ video:title }}" />{{ endif }}
        {{ if video:description }}<meta itemprop="description" content="{{ video:description }}" />{{ endif }}
        {{ if video:duration }}<meta itemprop="duration" content="{{ video:duration }}" />{{ endif }}
        {{ if video:thumbnail_large }}<meta itemprop="thumbnailUrl" content="{{ video:thumbnail_large }}" />{{ endif }}
        {{ if video:width }}<meta itemprop="width" content="{{ video:width }}" />{{ endif }}
        {{ if video:height }}<meta itemprop="height" content="{{ video:height }}" />{{ endif }}
        <iframe {{ if video:width }}width="{{ video:width }}"{{ endif }} {{ if video:height }}height="{{ video:height }}"{{ endif }} src="{{ video:url | video_embed}}" frameborder="0" allowfullscreen></iframe>
    </div>
{{ endif }}