{{ if cell-youtube:url }}
  <div class="cell cell--youtube" itemprop="video" itemscope itemtype="http://schema.org/VideoObject">
    {{ if cell-youtube:url }}
      <meta itemprop="url" content="{{ cell-youtube:url }}" />
    {{ /if }} 
    {{ if cell-youtube:title }}
      <meta itemprop="name" content="{{ cell-youtube:title }}" />
    {{ /if }} 
    {{ if cell-youtube:description }}
      <meta itemprop="description" content="{{ cell-youtube:description }}" />
    {{ /if }} 
    {{ if cell-youtube:duration }}
      <meta itemprop="duration" content="{{ cell-youtube:duration }}" />
    {{ /if }} 
    {{ if cell-youtube:thumbnail_large }}
      <meta itemprop="thumbnailUrl" content="{{ cell-youtube:thumbnail_large }}" />
    {{ /if }} 
    {{ if cell-youtube:width }}
      <meta itemprop="width" content="{{ cell-youtube:width }}" />
    {{ /if }} 
    {{ if cell-youtube:height }}
      <meta itemprop="height" content="{{ cell-youtube:height }}" />
    {{ /if }}
    <iframe 
      {{ if cell-youtube:width }}
        width="{{ cell-youtube:width }}"
      {{ /if }} 
      {{ if cell-youtube:height }}
        height="{{ cell-youtube:height }}"
      {{ /if }} 
      src="{{ cell-youtube:url | video_embed }}" frameborder="0" allowfullscreen>
    </iframe>
  </div>
{{ /if }}
