################################
###  macOS                   ###
################################

# General
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

################################
###  Windows                 ###
################################

# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

################################
###  JetBrains IDEs          ###
################################
.idea

################################
###  Sublime Text            ###
################################
*.sublime-workspace

################################
###  Visual Studio Code      ###
################################
.vscode

node_modules/

################################
###  Statamic                ###
################################
.env
statamic/
local/cache/*
local/storage/*
local/temp/*
installer.php
