.picture {
  display: block;
  max-width: 100%;

  img {
    display: block;
    max-width: 100%;
  }

  &__metas {
    position: relative;
    display: inline-block;
    font-family: font(sans-serif);
    text-align: left;
    margin: 3.6rem 0 0;
    padding: 0 3rem 0 1.8rem;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 1px;
      height: 100%;
      background-color: currentColor;
      opacity: 0.5;
    }
  }

  .side-by-side--media-large & {
    padding-left: 0;
    padding-right: 0;

    &__metas {
      margin-left: 25px;
      margin-right: 25px;
    }
  }

  .side-by-side--media-portrait & {
    &:nth-child(odd) {
      &__metas {
        float: right;
      }
    }
  }

  .side-by-side--media-large.side-by-side--media-landscape & {
    &__metas {
      margin-left: 25px;
      margin-right: 25px;
    }
  }
}

@include media-breakpoint-up(lg) {
  .picture {
    .side-by-side & {
      margin: 0.4rem 0 0; // compensate description line-height
    }

    &__metas {
      .side-by-side--media-large & {
        margin-left: 0;
        margin-right: 0;
      }
    }
  }
}
