
.subpages-listing {
  $block: &;
  @extend %reset-list;

  &__item {
    // Code
  }

  &__link {
    break-inside: avoid-column;
    display: flex;
    color: currentColor;
    text-decoration: none;
    padding: 0.35em 0;

    &:hover {
      #{$block}__preview {
        &::after { opacity: 0.15; }
      }
    }
  }

  &__preview {
    background-color: var(--green);
    color: #fff;
    flex: 0 0 40px;
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #fff;
      opacity: 0;
    }
  }

  &__abbr {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 0.825em;
    transform: translate(-50%, -50%);
    user-select: none
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__content {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    justify-content: center;
    line-height: 1.2;
    padding: 0 0.5em;
  }

  &__title {
    // ok
  }

  &__subtitle {
    font-size: 0.75em;
    opacity: 0.6;
    font-style: normal;
  }
}

@include media-breakpoint-up(sm) {
  .subpages-listing {
    column-count: 2;
  }
}
