{{ section:post_featured_media }}
    {{ if post_featured_video_url | is_embeddable }}
        <div class="video" {{ if post_featured_video_ratio }}style="padding-bottom: {{ post_featured_video_ratio | *:100 }}%;"{{ /if }}>
            <iframe class="video__iframe" src="{{ post_featured_video_url | embed_url }}?title=0&byline=0&portrait=0{{ if post_featured_video_type == 'gifv' }}&muted=1&autoplay=1&loop=1{{ /if }}"></iframe>
        </div>
    {{ else }}
        <!-- html video tag -->
    {{ /if }}
{{ /section:post_featured_media }}
  