<!DOCTYPE html>
<html lang="{{ locale }}" {{ if color_scheme }}class="color-scheme-{{ color_scheme }}"{{ /if }}>
<head>
  <!-- Metas -->
  {{ partial:metas/page }}
  {{ partial:metas/favicons }}

  <!-- fonts -->
  <link href="https://fonts.googleapis.com/css?family=Reenie+Beanie|Roboto+Slab:400,700|Roboto+Mono:100,300&subset=latin-ext&font-display=swap" rel="stylesheet">

  {{ if google_analytics }}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ google_analytics }}"></script>
  {{ /if }}

  <!-- CSS -->
  {{ theme:css src="../app" tag="true" cache_bust="true" }}
  <style>{{ partial:themes }}</style>
</head>
<body itemscope="" itemtype="http://schema.org/WebPage">

  <!-- Site Header -->
  {{ partial:layout/site-header }}

  <!-- Site Main -->
  <main data-page="Default" itemprop="mainContentOfPage">
      {{ template_content }}
  </main>

  <!-- Site Footer -->
  {{ partial:layout/site-footer }}

  <!-- JS -->
  
    <script>
      {{ if google_analytics }}
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ google_analytics }}');
      {{ /if }}

      {{ if facebook_app_id }}
        window.fbAsyncInit = function() {
          FB.init({
            appId      : '{{ facebook_app_id }}',
            cookie     : true,
            xfbml      : true,
            version    : 'v9.0'
          });
          FB.AppEvents.logPageView();   
        };
      
        (function(d, s, id){
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) {return;}
          js = d.createElement(s); js.id = id;
          js.src = "https://connect.facebook.net/en_US/sdk.js";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
       {{ /if }}
    </script>
  
  {{ theme:js src="../app" tag="true" cache_bust="true" }}
</body>
</html>
