<!DOCTYPE html>
<html lang="{{ locale }}" {{ if color_scheme }}class="color-scheme-{{ color_scheme }}"{{ /if }}>
<head>
  <!-- Metas -->
  {{ partial:metas/page }}
  {{ partial:metas/favicons }}

  <!-- fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto+Mono:100,300&subset=latin-ext&font-display=swap" rel="stylesheet">

  {{ if google_analytics }}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ google_analytics }}"></script>
  {{ /if }}

  <!-- CSS -->
  {{ theme:css src="main" tag="true" }}
  <style>{{ partial:themes }}</style>
</head>
<body itemscope="" itemtype="http://schema.org/WebPage">

  <!-- Site Header -->
  {{ partial:layout/site-header }}

  <!-- Site Main -->
  <main data-page="Default" itemprop="mainContentOfPage">
      {{ template_content }}
  </main>

  <!-- Site Footer -->
  {{ partial:layout/site-footer }}

  <!-- JS -->
  {{ theme:js src="app" tag="true" }}

  {{ if google_analytics }}
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '{{ google_analytics }}');
    </script>
  {{ /if }}
</body>
</html>
