<!DOCTYPE html>
<html lang="{{ locale }}">
<head>
  <!-- Metas -->
  {{ partial:metas/page }}
  {{ partial:metas/favicons }}

  <!-- fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab|Roboto+Mono:100,300&amp;subset=latin-ext" rel="stylesheet">

  <!-- CSS -->
  {{ theme:css src="main" tag="true" }}
  <style>{{ partial:themes }}</style>
</head>
<body itemscope="" itemtype="http://schema.org/WebPage">

  <!-- Site Header -->
  {{ partial:layout/site-header }}

  <!-- Site Main -->
  <main data-page="Default" itemprop="mainContentOfPage">
      {{ template_content }}
  </main>

  <!-- Site Footer -->
  {{ partial:layout/site-footer }}

  <!-- JS -->
  {{ theme:js src="app" tag="true" }}
</body>
</html>
