.wysiwyg {
  h1 {
    font-size: var(--h1);
  }

  h2 {
    font-size: var(--h2);
  }

  h3 {
    font-size: var(--h3);
  }

  h4 {
    font-size: var(--h4);
  }

  a {
    @extend %href;
  }

  b,
  strong {
    font-weight: 700;
  }

  ul,
  ol {
    @extend %list;

    li {
      margin: 0.33em 0;

      &:first-child { margin-top: 0; }
      &:last-child { margin-bottom: 0; }
    }

    ul,
    ol {
      font-size: 0.9em;
      margin: 0.33em 0;
      padding-left: 1em;
    }
  }

  blockquote {
    color: var(--secondary-light);
    margin-left: 0;
    margin-right: 0;
    padding: 0 var(--gutter);
    font-style: italic;
    border-left: solid 4px rgba(125, 125, 125, 0.5);
  }

  table {
    border: solid 1px var(--secondary-light);
    border-collapse: collapse;
    font-size: 0.9em;
    margin: 1em auto;
  }

  thead {
    background: var(--secondary);
    color: var(--primary);
    text-align: left;
  }

  tr {
    padding: 0 $grid-gutter-width/2;

    &:nth-child(even) { background-color: var(--secondary-light); }
  }

  th {
    font-weight: normal;
    font-size: 0.75em;
    letter-spacing: 0.01em;
    text-transform: uppercase;
  }

  th,
  td {
    padding: $grid-gutter-width/4 $grid-gutter-width/2;
  }

  code {
    line-height: 1.4;
    padding: 2px 4px;
    background-color: var(--secondary-light);
  }

  kbd {
    display: inline-block;
    margin: 0 .1em;
    padding: .1em .6em;
    font-family: monospace, monospace;
    font-size: 80%;
    line-height: 1.4;
    color: var(--secondary);
    text-shadow: 0 1px 0 var(--primary);
    background-color: var(--secondary-light);
    border: 1px solid var(--secondary-light);
    border-radius: 3px;
    box-shadow: 0 1px 0 var(--secondary-light), 0 0 0 2px var(--primary) inset;
    white-space: nowrap;
    position: relative;
    vertical-align: text-bottom;
  }
}
