<div class="codepen ratio-wrapper{{ if part:tabs == 'chromeless' }} codepen--chromeless{{ /if }}">
  <span class="ratio-wrapper__push" style="padding-bottom: calc({{ if custom_ratio }}{{ custom_ratio }}{{ elseif ratio }}{{ ratio }}{{ else }}56.25{{ /if }}% + 50px);"></span>
  <p data-height="400"
      data-theme-id="39426"
      {{ if part:id }}data-slug-hash="{{ part:id }}"{{ /if }}
      data-default-tab="{{ if part:tabs && part:tabs != 'chromeless' }}{{ part:tabs }}{{ else }}result{{ /if }}"
      data-user="{{ codepen_account }}"
      class="codepen">Voir le <a href="https://codepen.io">CodePen</a>
      {{ if part:id }}
          <a href="https://codepen.io/{{ codepen_account }}/pen/{{ part:id }}/">{{ part:title }}</a>
      {{ /if }}
      de {{ relate:owner }}{{ first_name }} {{ last_name }}{{ /relate:owner }}
      (<a href="https://codepen.io/{{ codepen_account }}">{{ codepen_account insert="@|0"}}</a>).
  </p>
</div>
