<section 
  class="section vote" 
  data-slug="{{ slug }}" 
  data-parent="{{ parent:slug }}"
  data-type="Article - Feedback"
  data-module="Vote">
  <div class="vote__title">
    Donnez votre opinion<br>sur les <u>notes de cours</u> sur cette page.<br>
  </div>
  
  <div class="vote__options">
    <button class="vote__item is-disabled" disabled="true">
      <span class="vote__icon">📝</span>
      <div class="vote__desc">Revoir<br>le texte</div>
    </button>

    <button class="vote__item is-disabled" disabled="true">
      <span class="vote__icon">🖼️</span>
      <div class="vote__desc">Ajouter<br>plus d'exemples</div>
    </button>
    
    <button class="vote__item is-disabled" disabled="true">
      <span class="vote__icon">✍️</span>
      <div class="vote__desc">Ajouter<br>plus d'exercices</div>
    </button>

    <button class="vote__item is-disabled" disabled="true">
      <span class="vote__icon">👌</span>
      <div class="vote__desc">Génial,<br>ne rien changer</div>
    </button>

    <div class="vote__msg vote__msg--completed">Merci d'avoir partagé ton opinion&thinsp;😎</div>
    <div class="vote__msg vote__msg--teaser">Pssst, c'est 💯 anonyme</div>
  </div>
</section>