/**
 * variables
 * =========
 */

$s: 0.3s;
$containerWidth: 1200px;
$gutter: 25px;
$assets: '../../../../assets/';

:root {
  --radius: 4px;
  --gutter: 25px;
  --h1: calc(30px + 1vw);
  --h2: calc(25px + 0.8vw);
  --h3: calc(20px + 0.6vw);
  --h4: calc(15px + 0.4vw);
}

$palettes: (
  black: (
    base: #000,
  ),
  grey: (
    x-light: #ebebeb,
    light: #bfbfbf,
    base: #7f7f7f,
    dark: #404040,
    x-dark: #373737,
  ),
  white: (
    base: #fff,
  ),
  blue: (
    light: #cce5ff,
    base: #b8daff,
    dark: #004085,
  ),
  yellow: (
    light: #fff3cd,
    base: #ffeeba,
    dark: #856404
  ),
  green: (
    light: #d4edda,
    base: #c3e6cb,
    dark: #155724,
  ),
  red: (
    light: #f8d7da,
    base: #f5c6cb,
    dark: #721c24,
  )
);

$fonts: (
  sans-serif: #{ helvetica, arial, sans-serif },
  serif: #{ 'Roboto Slab', serif },
  alt: #{ 'Roboto Mono', helvetica, arial, sans-serif },
);

$site-header-height: calc(46px + 0.9vw);

@include media-breakpoint-up(lg) {
  :root {
    --gutter: 40px;
  }

  $gutter: 40px;
}
