/**
 * variables
 * =========
 */

$s: 0.3s;
$containerWidth: 1200px;
$gutter: 25px;
$assets: '../../../../assets/';

:root {
  --primary: rgb(255, 255, 255);
  --primary-light: rgba(255, 255, 255, 0.05);
  --secondary: rgb(17, 17, 17);
  --secondary-light: rgba(17, 17, 17, 0.05);
  --highlight: #fffc00;
  --headerHeight: 50px;
  --radius: 4px;
  --gutter: 25px;
  --h1: calc(30px + 1vw);
  --h2: calc(25px + 0.8vw);
  --h3: calc(20px + 0.6vw);
  --h4: calc(15px + 0.4vw);
}

$palettes: (
  black: (
    base: #000,
  ),
  grey: (
    x-light: #ebebeb,
    light: #bfbfbf,
    base: #7f7f7f,
    dark: #404040,
    x-dark: #373737,
  ),
  white: (
    base: #fff,
  ),
  blue: (
    light: #cce5ff,
    base: #b8daff,
    dark: #004085,
  ),
  yellow: (
    light: rgba(255, 186, 0, 0.15),
    base: #ffeeba,
    dark: #856404
  ),
  green: (
    light: #d4edda,
    base: #c3e6cb,
    dark: #155724,
  ),
  red: (
    light: #f8d7da,
    base: #f5c6cb,
    dark: #721c24,
  )
);

$fonts: (
  sans-serif: #{ helvetica, arial, sans-serif },
  serif: #{ 'Roboto Slab', serif },
  alt: #{ 'Roboto Mono', helvetica, arial, sans-serif },
);

@include media-breakpoint-up(lg) {
  :root {
    --gutter: 40px;
  }

  $gutter: 40px;
}

html {
  &.color-scheme-dark {
    --primary: rgb(17, 17, 17);
    --primary-light: rgba(17, 17, 17, 0.05);
    --secondary: rgb(255, 255, 255);
    --secondary-light: rgba(255, 255, 255, 0.15);
    --highlight: #bb86fc;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    &.color-scheme-auto {
      --primary: rgb(17, 17, 17);
      --primary-light: rgba(17, 17, 17, 0.05);
      --secondary: rgb(238, 238, 238);
      --secondary-light: rgba(238, 238, 238, 0.15);
      --highlight: #bb86fc;
    }
  }
}
