/**
 * variables
 * =========
 */

$s: 0.3s;
$containerWidth: 1200px;
$gutter: 25px;
$assets: '../../../../assets/';

:root {
  --primary: rgb(255, 255, 255);
  --primary-light: rgba(255, 255, 255, 0.05);
  --secondary: rgb(17, 17, 17);
  --secondary-light: rgba(17, 17, 17, 0.05);
  --highlight: #F1F255;
  --headerHeight: 50px;
  --radius: 4px;
  --gutter: 25px;
  --h1: calc(30px + 1vw);
  --h2: calc(25px + 0.8vw);
  --h3: calc(20px + 0.6vw);
  --h4: calc(15px + 0.4vw);

  /*--- colors ----------*/
  /* colorbox.io
     10 steps
     Saturation
     - start 10
     - end 40

     light theme:
     color: color 10
     colorShade: color 5
     colorContrast: color 90

     dark theme:
     color: color 80
     colorShade: color 90
     colorContrast: color 5
  */
  --blue: #c7dafd;
  --blueShade: #d3e2fe;
  --blueContrast: #414f87;
  --green: #c7fddb;
  --greenShade: #d3fee3;
  --greenContrast: #418763;
  --yellow: #fcfdc7;
  --yellowShade: #fdfed3;
  --yellowContrast: #878541;
  --red: #fdb5b6;
  --redShade: #fed3d4;
  --redContrast: #870002;
  --grey: #ddd;
  --greyShade: #e9e9e9;
  --greyContrast: #878787;
  --purple: #ecc7fd;
  --purpleShade: #f0d3fe;
  --purpleContrast: #654187;
  --pink: #fdc7da;
  --pinkShade: #fed3e2;
  --pinkContrast: #874159;
}

$palettes: (
  black: (
    base: #000,
  ),
  grey: (
    x-light: #ebebeb,
    light: #bfbfbf,
    base: #7f7f7f,
    dark: #404040,
    x-dark: #373737,
  ),
  white: (
    base: #fff,
  ),
);

$fonts: (
  sans-serif: #{ helvetica, arial, sans-serif },
  serif: #{ 'Roboto Slab', serif },
  alt: #{ 'Roboto Mono', helvetica, arial, sans-serif },
);

@include media-breakpoint-up(lg) {
  :root {
    --gutter: 40px;
  }

  $gutter: 40px;
}

.color-scheme-dark {
  --primary: rgb(17, 17, 17);
  --primary-light: rgba(17, 17, 17, 0.05);
  --secondary: rgb(255, 255, 255);
  --secondary-light: rgba(255, 255, 255, 0.15);
  --highlight: #A09E4C;

  /*--- colors ----------*/
  --blue: #4e61a0;
  --blueShade: #414f87;
  --blueContrast: #c7dafd;
  --green: #4ea074;
  --greenShade: #418763;
  --greenContrast: #c7fddb;
  --yellow: #a09e4e;
  --yellowShade: #878541;
  --yellowContrast: #fcfdc7;
  --red: #870002;
  --redShade: #a00003;
  --redContrast: #fed3d4;
  --grey: #a0a0a0;
  --greyShade: #878787;
  --greyContrast: #ddd;
  --purple: #7b4ea0;
  --purpleShade: #654187;
  --purpleContrast: #f0d3fe;
  --pink: #a04e6b;
  --pinkShade: #874159;
  --pinkContrast: #fed3e2;
}

@media (prefers-color-scheme: dark) {
  .color-scheme-auto {
    --primary: rgb(17, 17, 17);
    --primary-light: rgba(17, 17, 17, 0.05);
    --secondary: rgb(255, 255, 255);
    --secondary-light: rgba(255, 255, 255, 0.15);
    --highlight: #A09E4C;

    /*--- colors ----------*/
    --blue: #4e61a0;
    --blueShade: #414f87;
    --blueContrast: #c7dafd;
    --green: #4ea074;
    --greenShade: #418763;
    --greenContrast: #c7fddb;
    --yellow: #a09e4e;
    --yellowShade: #878541;
    --yellowContrast: #fcfdc7;
    --red: #870002;
    --redShade: #a00003;
    --redContrast: #fed3d4;
    --grey: #a0a0a0;
    --greyShade: #878787;
    --greyContrast: #ddd;
    --purple: #7b4ea0;
    --purpleShade: #654187;
    --purpleContrast: #f0d3fe;
    --pink: #a04e6b;
    --pinkShade: #874159;
    --pinkContrast: #fed3e2;
  }
}
