/**
 * variables
 * =========
 */

$s: 0.3s;
$containerWidth: 1200px;
$gutter: 25px;

$palettes: (
  black: (
    base: #000,
  ),
  grey: (
    x-light: #ebebeb,
    light: #bfbfbf,
    base: #7f7f7f,
    dark: #404040,
    x-dark: #373737,
  ),
  white: (
    base: #fff,
  ),
  pink: (
    base: #eac7c2,
    highlight: #f694c1,
  ),
);

$fonts: (
  sans-serif: #{ helvetica, arial, sans-serif },
  serif: #{ 'Roboto Slab', serif }
);

$site-header-height-mobile: 64px;
$site-header-height-desktop: 64px;

@include media-breakpoint-up(lg) {
  $gutter: 40px;
}
