.prefers-color-scheme {
  --primary: #fff;
  --secondary: rgba(0, 0, 0, 0.8);
}

@media (prefers-color-scheme: dark) {
  .prefers-color-scheme {
    --primary: rgba(0, 0, 0, 0.8);
    --secondary: #fff;
  }
}
