.note {
  display: block;
  position: relative;
  font-size: 0.85em;
  font-family: font(sans-serif);
  padding: 1em;
  background-color: var(--blueShade);
  border: solid 1px var(--blue);
  color: var(--blueContrast);
  border-radius: var(--radius);
  margin: 1em 0;

  .text-body {
    @extend %children-margin;
  }

  code {
    color: currentColor;
  }

  &--warning,
  &--good,
  &--bad,
  &--exercice {
    .text-body {
      > *:first-child {
        &:first-letter {
          font-size: 1.5em;
          float: left;
          margin: -0.2em 0.5em 0 0;
        }
      }
    }
  }

  &--warning {
    background-color: var(--yellowShade);
    border: solid 1px var(--yellow);
    color: var(--yellowContrast);

    .text-body {
      > *:first-child {
        &::before {
          content: "⚠️";
        }
      }
    }
  }

  &--good {
    background-color: var(--greenShade);
    border: solid 1px var(--green);
    color: var(--greenContrast);

    .text-body {
      > *:first-child {
        &::before {
          content: "👍";
        }
      }
    }
  }

  &--bad {
    background-color: var(--redShade);
    border: solid 1px var(--red);
    color: var(--redContrast);

    .text-body {
      > *:first-child {
        &::before {
          content: "👎";
        }
      }
    }
  }

  &--exercice {
    background-color: var(--purpleShade);
    border: solid 1px var(--purple);
    color: var(--purpleContrast);

    .text-body {
      > *:first-child {
        &::before {
          content: "✍️ Exercice: ";
        }
      }
    }
  }

  &--source {
    background-color: var(--greyShade);
    color: var(--greyContrast);
    border-color: var(--grey);

    &::before {
      content: "Source: ";
      font-weight: bold;
    }

    a {
      text-decoration: none;
      color: currentColor;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
