{{ section:side_by_side_text }}
    {{ website_description | markdown }}
{{ /section:side_by_side_text }}

{{ section:side_by_side_media }}
    <div class="phone" style="background-color: {{ website_mobile_color }};">
        <div class="phone__wrapper">
            {{ if website_vimeo | is_embeddable }}
                <iframe src="{{ website_vimeo | embed_url }}?muted=1&autoplay=1&loop=1&title=0&byline=0&portrait=0"></iframe>
            {{ else }}
                <!-- html video tag -->
            {{ /if }}
        </div>
    </div>
{{ /section:side_by_side_media }}
  