<article class="website">
    {{ partial:websites/parts/background }}
  
    <div class="website__container">
      <div class="website__main">
        
        <meta itemprop="author" content="Simon Arnold">
        <div class="website__description" itemprop="description">
            <h2 class="website__title" itemprop="name">{{ title }}</h2>
            {{ website_description | markdown }}
        </div>
        <figure class="website__figure" {{ if website_background_color || website_text_color }} style="background-color: {{ website_background_color }}; color: {{ website_text_color }};"{{ /if }}>
          {{ partial:websites/parts/mobile-vimeo }}
        </figure>
      </div>
    </div>
</article>
  