<article class="picture picture--{{picture_orientation}} picture--{{picture_size}}" itemscope itemtype="http://schema.org/ImageObject">
  {{ partial:pictures/parts/background }}

  <div class="picture__container">
    <div class="picture__main">
      <h2 class="picture__title" itemprop="name">{{title}}</h2>
      <div class="picture__description" itemprop="description">{{ picture_description | markdown }}</div>
      <figure class="picture__figure" {{ if picture_background_color || picture_text_color }} style="background-color: {{ picture_background_color }}; color: {{ picture_text_color }};"{{ /if }}>
        {{ partial:pictures/parts/image }}

        {{ partial:pictures/parts/metas }}
      </figure>
    </div>

    {{ partial:pictures/parts/aside }}
  </div>
</article>
