.page-article {
  font-size: calc(11px + 1.45vw);
  line-height: 1.5;
  max-width: calc(720px + var(--gutter) * 2);

  &__title {
    text-align: center;
    margin-bottom: 1.6em;
  }

  .text-title {
    font-weight: 700;
  }
}

@include media-breakpoint-up(md) {
  .page-article {
    font-size: 22px;
  }
}
