.page-article {
  font-size: calc(11px + 1.45vw);
  line-height: 1.5;
  max-width: calc(720px + var(--gutter) * 2);

  &__header {
    margin: 0 0 2em;

    + .text-body {
      > p:first-child {
        text-indent: 2.5em;
      }
    }

    + .text-title {
      padding-top: 0;
      border-top: 0;
    }
  }

  &__title {
    text-align: center;
    margin-bottom: 0.4em;
  }

  &__read-time {
    font-family: font(sans-serif);
    font-size: 0.85em;
    opacity: 0.75;
    text-align: center;

    &::before {
      content: "Durée: ~";
    }

    &::after {
      content: " min(s)";
    }
  }

  .text-title {
    font-weight: 400;
  }

  h2.text-title {
    &:not(:first-of-type) {
      padding-top: 1.75em;

      &::before {
        content: "...";
        display: block;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        font-family: serif;
        opacity: 0.8;
        font-size: 28px;
        letter-spacing: 1em;
      }
    }
  }

  .text-body {
    em {
      opacity: 0.65;
    }
  }
}

@include media-breakpoint-up(md) {
  .page-article {
    font-size: 22px;
  }
}
