<header class="site-header" data-module="SiteHeader">
  <span class="site-header__overlay"></span>
  <span class="site-header__bg"></span>
  <div class="site-header__container container">
    <a href="/" class="site-header__logo">
      Moment
    </a>

    <button class="site-header__toggle hamburger">
      <span class="hamburger__box">
          <span class="hamburger__icon">
            <span class="sr-only">Menu</span>
          </span>
      </span>
    </button>

    <nav class="site-header__menu" role="navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
      <ul class="site-header__list">
        {{ nav from="/" scope="tag" is_hidden:isnt="true" }}
          <li class="site-header__item">
            <a class="site-header__link {{ if is_current or is_parent }}is-active{{ /if }}" href="{{ url }}">
              <span itemprop="name">{{ title }}</span>
            </a>
          </li>
        {{ /nav }}
      </ul>
    </nav>
  </div>
</header>
