<header class="site-header" data-module="SiteHeader">

  <span class="site-header__bg"></span>
  <div class="site-header__container">
    <a href="/" class="site-logo">
      <span class="site-logo__bg"></span>
      <span class="site-logo__text">
        SMN<br class="site-logo__break">ARN<br class="site-logo__break">OLD
      </span>
    </a>

    <input id="site-header__toggle" type="checkbox">

    <label for="site-header__toggle" class="site-header__toggle hamburger">
      <span class="hamburger__box">
          <span class="hamburger__icon">
            <span class="sr-only">Menu</span>
          </span>
      </span>
    </label>

    <label for="site-header__toggle" class="site-header__overlay"></label>

    <nav class="site-header__menu" role="navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
      <ul class="site-header__list">
        {{ nav from="/" scope="tag" hidden:isnt="true" }}
          <li class="site-header__item">
            <a class="site-header__link {{ if is_current or is_parent }}is-active{{ /if }}" href="{{ url }}">
              <span itemprop="name">{{ title }}</span>
            </a>
          </li>
        {{ /nav }}
      </ul>
    </nav>
  </div>
</header>
