.cp_embed_wrapper {
  position: relative;
  height: 0;
  padding-bottom: 100%;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }

  .side-by-side--media-landscape & {
    padding-bottom: 56.25%;
  }

  .side-by-side--media-portrait & {
    padding-bottom: 140%;
  }
}
