<article class="page page-article">
  <div class="page__wrapper">
    <header class="page-article__header">
      {{ parent }}
        <a href="{{ url }}" class="page-article__category">{{ short_title or title }}</a>
      {{ /parent }}
      <h1 class="page-article__title">{{ title }}</h1>
      <div class="page-article__read-time">{{ body|flatten|collapse|join|read_time }}</div>
    </header>

    {{ body scope="part"}}
      {{ partial src="molecules/{type}" items="part" }}
    {{ /body }}

    <footer class="page-article__footer">
      {{ partial:molecules/vote_article }}
    </footer>
  </div>
</article>

<script>
  var url = 'https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js?skin=';
  var theme = 'default';
  if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
    theme = 'desert';
  }

  var script = document.createElement('script');
  script.src = url + theme;
  document.head.appendChild(script);
</script>

<script async src="https://static.codepen.io/assets/embed/ei.js"></script>
