html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

html {
  background: var(--primary);
  color: var(--secondary);
  scroll-behavior: smooth;
  font: 300 10px/1.4 font(serif);
}

body {
  font-size: 1.6rem; // 16px
  line-height: 1.5;
}

main {
  position: relative;
  padding-top: var(--headerHeight);
  min-height: 100vh;
  z-index: 1;
  background-color: var(--primary);
  color: var(--secondary);
}

.container {
  padding: 0 30px !important;
}

.sr-only {
  @extend %sr-only;
}

// Large devices (desktops, 1380px and up)
@media (min-width: 1380px) {
  main {
    padding-top: 0;
  }
}
