html,
body {
  background: #fff;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

html {
  font: 300 10px/1.4 font(serif);
}

body {
  font-size: 1.6rem; // 16px
  line-height: 1.5;
  padding-top: 64px;
}

.sr-only {
  @extend %sr-only;
}
