code {
  color: var(--secondary);
  font-size: 0.85em;
  vertical-align: text-bottom;
}

pre.prettyprint {
  overflow-x: auto;
  line-height: 1;
  padding: 20px !important;
  color: var(--secondary);
  background-color: var(--secondary-light);
  border: 0 !important;
  -webkit-overflow-scrolling: auto;
}

/*! Color themes for Google Code Prettify | MIT License | github.com/jmblog/color-themes-for-google-code-prettify */
.prettyprint {
  font-family: Menlo, "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Monaco,
    Consolas, monospace;
  border: 0 !important;
}
