code {
  font-size: 0.85em;
  vertical-align: text-bottom;
}

pre.prettyprint {
  width: calc(100% + var(--gutter)*2);
  margin-left: calc(var(--gutter) * -1);
  overflow-x: auto;
  padding: 20px !important;
  background-color: palette(grey, x-light);
  border: solid 1px palette(grey, light) !important;
  border-radius: var(--radius);
}
