.breadcrumb {
  font-size: 1.4rem;

  &__list {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    padding: 5px;

    + .breadcrumb__item {
      &::before {
        content: "/";
        display: inline-block;
        margin-right: 5px;
      }
    }
  }

  &__link {
    color: inherit;
    text-decoration: none;

    &.is-active {
      text-decoration: underline;
    }
  }
}
