.button {
  background: none;
  border: 0;
  cursor: pointer;
  position: relative;
  text-decoration: none;

  // elements

  &__icon,
  &__text {
    display: inline-block;
    vertical-align: middle;
  }

  // modifiers

  &--default {
    background: palette(white);
    color: palette(black);
    padding: 8px 10px;
  }

  &--link {
    padding: 0;

    &::after {
      background: currentColor;
      bottom: 0;
      content: "";
      display: block;
      height: 1px;
      left: 0;
      position: absolute;
      width: 100%;
    }
  }
}
