.frame-desktop {
  position: relative;
  background: #fff;
  border-radius: 8px 8px 0 0;
  margin: 0 auto;
  padding: 20px 0 0;

  &__button {
    &,
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 6px;
      left: 10px;
      display: block;
      width: 8px;
      height: 8px;
      background: rgba(50, 50, 50, 0.7);
      border-radius: 50%;
    }

    &::before {
      top: 0;
      left: 150%;
    }

    &::after {
      top: 0;
      left: 300%;
    }
  }

  &__wrapper {
    position: relative;
    width: 100%;
  }

  iframe {
    background-color: #000;
  }
}
