.mediablock {
  margin: 30px 0;

  &__media {
    width: calc(100% + 60px);
    position: relative;
    left: -30px;
    margin: 0 auto;

    img {
      display: block;
      max-width: 100%;
    }
  }
}

@include media-breakpoint-up(md) {
  .mediablock {
    &__media {
      width: 100%;
      left: 0;
    }
  }
}

@include media-breakpoint-up(xl) {
  .mediablock {
    &__media {
      max-width: 100vmin;
    }
  }
}