.organizations {
  $paddingH: 25px;

  position: relative;
  width: 100%;
  //background: url(https://i.imgur.com/H4uA0fG.jpg);
  padding: 3.6rem 0;

  &__bg {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }

  &__container {
    display: block;
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    padding: $paddingH;
  }

  &__introduction {
    width: 100%;
  }

  &__list {
    @extend %reset-list;

    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__item {
    flex: 0 0 1;
    max-width: 25%;

    a {
      position: relative;
      display: block;
      color: currentColor;
      text-decoration: none;
      cursor: pointer;
      transition: color $s;

      &:hover {
        color: var(--hover);
      }
    }
  }

  svg {
    display: block;
    width: 100%;
    height: auto;
    fill: currentColor;
    pointer-events: pointer;
  }
}

@include media-breakpoint-up(sm) {
  .organizations {
    &__item {
      max-width: 20%;
    }
  }
}

@include media-breakpoint-up(md) {
  .organizations {
    &__item {
      max-width: 16.6667%;
    }
  }
}

@include media-breakpoint-up(lg) {
  .organizations {
    $paddingH: 40px;

    &__container {
      padding: 0 $paddingH;
    }

    &__item {
      max-width: 12.5%;
    }
  }
}

@include media-breakpoint-up(xl) {
  .organizations {
    &__item {
      max-width: 10%;
    }
  }
}
