.text {
  &__description {
    column-width: 64ex;
    column-gap: 40px;

    > * {
      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}