{{ if title }}<meta itemprop="name" content="{{title}}">{{ /if }}
{{ if description }}<meta itemprop="description" content="{{description}}">{{ /if }}
{{ if logo }}<meta itemprop="logo" content="{{logo}}">{{ /if }}
{{ partial:metas/place }}
{{ if email }}<meta itemprop="email" content="{{email}}">{{ /if }}
{{ if telephone }}<meta itemprop="telephone" content="{{telephone}}">{{ /if }}
{{ if fax }}<meta itemprop="fax" content="{{fax}}">{{ /if }}
{{ if url }}<meta itemprop="url" content="{{url}}">{{ /if }}
{{ relate:founders }}
  <span itemprop="founder" itemscope="" itemtype="http://schema.org/Person">
    {{ partial:metas/person }}
  </span>
{{ /relate:founders }}
{{ partial:metas/social_medias }}
