<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{{ if segment_1 }}{{ title }} | {{ /if }}{{ site_name }}</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta property="og:locale" content="{{ locale_full }}" />
  <meta name="title" content="{{ title | strip_tags }}">
  <meta property="og:title" content="{{ title | strip_tags }}">
  <meta property="og:url" content="{{ permalink }}">
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="{{ site_name }}">
{{ if description }}
  <meta name="description" content="{{ description | strip_tags | trim }}">  
  <meta property="og:description" content="{{ description | strip_tags | trim }}">
{{ /if }}
{{ asset:preview }} 
  <meta property="og:image" content="{{ permalink }}">
  <meta property="og:image:width" content="{{ width }}" />
  <meta property="og:image:height" content="{{ height }}" />
{{ /asset:preview }}
{{ if template == "page-article" }}
  {{ if date }}
  <meta property="article:published_time" content="{{ date format="Y-m-d" }}">
  {{ /if }}
  <meta property="article:modified_time" content="{{ last_modified format="Y-m-d" }}">
  <meta property="article:section" content="{{ parent:title }}">
  {{ if facebook_profile }}
  <meta property="article:author" content="{{ facebook_profile }}">
  {{ /if }}
{{ /if }}
{{ if twitter_account }}
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:creator" content="{{ twitter_account }}">
{{ /if }}
{{ if facebook_app_id }}
  <meta property="fb:app_id" content="{{ facebook_app_id }}">
{{ /if }}
{{ relate:owner }}
  <meta name="author" content="{{ first_name }} {{ last_name }}">
{{ /relate:owner }}
  <link rel="canonical" href="{{ permalink }}" />
