.picture {
  $paddingH: 25px;

  @extend %side-by-side;

  &__bg {
    @extend %side-by-side__bg;
  }

  &__container {
    @extend %side-by-side__container;
  }

  &__main {
    @extend %side-by-side__main;
  }

  &__title {
    @extend %side-by-side__title;
  }

  &__description {
    @extend %side-by-side__description;
  }

  &__figure {
    @extend %side-by-side__figure;
  }

  &__picture {
    display: block;
    max-width: 100%;

    img {
      display: block;
      max-width: 100%;
    }
  }

  &__metas {
    position: relative;
    display: inline-block;
    font-family: font(sans-serif);
    text-align: left;
    margin: 3.6rem 0 0;
    padding: 0 3rem 0 1.8rem;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 1px;
      height: 100%;
      background-color: currentColor;
      opacity: 0.5;
    }
  }

  &__aside {
    @extend %side-by-side__aside;
  }

  &__type {
    text-transform: uppercase;
    font-weight: 700;
    font-style: normal;
    font-size: 1.2rem;
    letter-spacing: 1px;
  }

  &__tag {
    font-size: 1.4rem;
    text-decoration: none;
    color: currentColor;
  }

  &--large {
    .picture {
      &__figure {
        padding-left: 0;
        padding-right: 0;
      }

      &__metas {
        margin-left: $paddingH;
        margin-right: $paddingH;
      }
    }
  }
}

// Medium devices (tablets, 992px and up)
@include media-breakpoint-up(lg) {
  .picture {
    &__picture {
      margin: 0.4rem 0 0; // compensate description line-height
    }

    &--large {
      .picture {
        &__metas {
          margin-left: 0;
          margin-right: 0;
        }
      }
    }
  }
}