{{ assets:picture_image }}
  <picture class="picture__picture">
    <source srcset="{{ glide:url width='580' }}" media="(max-width: 320px) and (min-resolution: 2dppx)">
    <source srcset="{{ glide:url width='690' }}" media="(max-width: 375px) and (min-resolution: 2dppx)">
    <source srcset="{{ glide:url width='1000' }}" media="(max-width: 500px) and (min-resolution: 2dppx)">
    <source srcset="{{ glide:url width='1380' }}" media="(min-resolution: 2dppx)">
    <source srcset="{{ glide:url width='768' }}">
    <img src="{{ glide:url width='768' }}" alt="{{ alt }}" itemprop="contentUrl" />
  </picture>
{{ /assets:picture_image }}
