body {
  margin: 0;
}

.layout {
  display: flex;
  width: 100%;
  max-width: 806px;
  margin: 0 auto;
  justify-content: center;

  > * {
    flex: 0 0 50%;
    justify-content: center;
    padding: 1% 0;
  }
}

.frame {
  font-size: calc(5px + 3.5vw);
  border-radius: 1em;
  background: #000;
  width: 64%;
  padding: 15% 0 13%;
  color: #fff;
  margin: 0 auto;
  position: relative;

  > * {
    position: absolute;
    top: 23.5%;
    left: 0;
    width: 100%;
    height: 56%;
    background: #fff;
    font-size: 3vw;
    overflow: visible;

    * {
      box-sizing: border-box;
    }
  }

  &::before {
    content: '…';
    font-family: serif;
    position: absolute;
    top: 0;
    left: 0.3em;
    opacity: 0.4;
    font-size: 1.4em;
    font-weight: bold;
    line-height: 0.65;
  }

  &::after {
    content: '';
    display: block;
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 54.5%;
  }
}

.element {
  padding: 4%;
  text-align: center;

  &:nth-child(1) {
    background-color: #00c774;
    color: #009e24;
  }

  &:nth-child(2) {
    background-color: #3C38BA;
    color: #08067C;
  }

  &:nth-child(3) {
    background-color: #FF8487;
    color: #FF262B;
  }
}

@media screen and (min-width: 720px) {
  .frame {
    font-size: 40px;

    > * {
      font-size: 21px;
    }
  }
}
