:root {
  --primary: #fff;
  --secondary: #000;
  --green: #00c774;
  --green-dark: #009e24;
  --blue: #3C38BA;
  --blue-dark: #08067C;
  --red: #FF8487;
  --red-dark: #FF262B;
  --cyan: #7CFEF0;
  --cyan-dark: #02cfb9;
  --yellow: #F7CE5B;
  --yellow-dark: #d19d0a;
  --purple: #E2A0FF;
  --purple-dark: #b918ff;
}
html { 
  background-color: var(--primary);
  color: var(--secondary);
}

body { margin: 0; }

.layout {
  display: flex;
  width: 100%;
  max-width: 806px;
  margin: 0 auto;
  justify-content: center;

  > * {
    display: flex;
    flex: 0 0 50%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 1% 0;
  }
}

.frame {
  font-size: calc(5px + 3.5vw);
  border-radius: 1em;
  background: var(--secondary);
  width: 64%;
  padding: 15% 0 13%;
  color: var(--primary);
  margin: 0 auto;
  position: relative;

  > * {
    position: absolute;
    top: 23.5%;
    left: 0;
    width: 100%;
    height: 56%;
    background: var(--primary);
    font-size: 3vw;
    overflow: visible;

    * { box-sizing: border-box; }
  }

  &::before {
    content: '…';
    font-family: serif;
    position: absolute;
    top: 0;
    left: 0.3em;
    opacity: 0.4;
    font-size: 1.4em;
    font-weight: bold;
    line-height: 0.65;
  }

  &::after {
    content: '';
    display: block;
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 54.5%;
    pointer-events: none;
  }
}

.element {
  padding: 4%;
  text-align: center;

  &.no1 {
    background-color: var(--green);
    color: var(--green-dark);
  }

  &.no2 {
    background-color: var(--blue);
    color: var(--blue-dark);
  }

  &.no3 {
    background-color: var(--red);
    color: var(--red-dark);
  }

  &.no4 {
    background-color: var(--cyan);
    color: var(--cyan-dark);
  }

  &.no5 {
    background-color: var(--yellow);
    color: var(--yellow-dark);
  }

  &.no6 {
    background-color: var(--purple);
    color: var(--purple-dark);
  }
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

button,
select {
  width: 64%;
  margin: 0 auto;
  border-radius: 6px;
  border: none;
  padding: 1em;
  font-size: 3vw;
  font-weight: 900;
  background: var(--secondary);
  color: var(--primary);
  transition: border-width 0.3s;
  border-width: 0;
  border-style: solid;
  border-color: var(--secondary);

  &:hover { 
    border-top-width: 4px; 
    border-bottom-width: 4px;
  }
}

select {
  appearance: none;
}

.txt { font-size: 4vw; }

@media screen and (min-width: 720px) {
  .frame {
    font-size: 40px;

    > * { font-size: 21px; }
  }

  button,
  select { font-size: 16px; }
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: #111;
    --secondary: #fefefe;
  }
}
